@model ScopoHR.Core.ViewModels.ReportFilteringViewModel
@{
    ViewBag.Title = "LeaveCorrectionReport";
}

<div class="col-sm-12">
    <section class="box box-solid">
        <header class="box-header with-border">
            <h3 class="box-title">Leave Correction Report</h3>
        </header>
        <div class="box-body">
            <div class="form-horizontal">

                @using (Html.BeginForm("GetLeaveCorrectionReport", "Report", FormMethod.Post, new { target = "_blank" }))
                {
                    <div class="form-group">
                        <label class="col-sm-1">From Date</label>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control default-datepicker required", @required = true, autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.FromDate)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1">To Date</label>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control default-datepicker", @required = true, autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.ToDate)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1">In Time</label>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(model => model.InTime, new { @class = "form-control bootstrap-timepicker timepicker", autocomplete = "off", id="timepicker" })
                            @Html.ValidationMessageFor(model => model.InTime)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1">Out Time</label>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(model => model.OutTime, new { @class = "form-control bootstrap-timepicker timepicker", autocomplete = "off", id = "timepicker" })
                            @Html.ValidationMessageFor(model => model.OutTime)
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-1">IS Leave Apply</label>
                        <div class="col-sm-2">
                            @Html.CheckBoxFor(model => model.LeaveTypeReport)
                            @Html.ValidationMessageFor(model => model.LeaveTypeReport)
                        </div>
                        <div class="col-sm-1">
                            <input type="submit" formtarget="_blank" class="btn btn-block btn-success" value="Get Report" />
                        </div>
                    </div>
                }
            </div>
        </div>

    </section>
</div>

