@model ScopoHR.Core.ViewModels.ReportFilteringViewModel
@{
    ViewBag.Title = "MaternityBillPayReport";
}

<div class="col-sm-12">
    <section class="box box-solid">
        <header class="box-header with-border">
            <h3 class="box-title">Maternity Bill Pay Report Report</h3>
        </header>
        <div class="box-body">
            <div class="form-horizontal">

                @using (Html.BeginForm("GetMaternityBillPayReport", "Report", FormMethod.Post, new { target = "_blank" }))
                {
                    <div class="form-group">
                        <label class="col-sm-12">Card No</label>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(x => x.CardNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CardNo)
                        </div>
                        <label class="col-sm-12">Maternity Application</label>
                        <div class="col-lg-3">
                            @Html.DropDownListFor(model => model.MaternityID, Enumerable.Empty<SelectListItem>(), "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaternityID)
                        </div>
                        <label class="col-sm-1">Is First Installment</label>
                        <div class="col-sm-2">
                            @Html.CheckBoxFor(model => model.FirstInstallment)
                            @Html.ValidationMessageFor(model => model.FirstInstallment)
                        </div>

                        <div class="col-sm-1">
                            <input type="submit" formtarget="_blank" class="btn btn-block btn-success" value="Get Report" />
                        </div>
                    </div>
                }
            </div>
        </div>

    </section>
</div>




<script type="text/javascript">

        $(document).ready(function () {
            $('#CardNo').on('change', function () {

                $.getJSON('\GetMaternityLeaveDetailsByCardNo', { cardNo: $(this).val() }, function (res) {
                    console.log(res);
                    $("#MaternityID").empty();
                    $("#MaternityID").append("<option value='0'>--Select Leave--</option>");
                    $.each(res, function (index, l) {
                        $("#MaternityID").append("<option value='" + l.MaternityID + "'>" + new Date(parseInt(l.FromDate.replace(/\/Date\(([0-9]+)[^+]\//i, "$1"))).toLocaleDateString("en-US") + " - " + new Date(parseInt(l.ToDate.replace(/\/Date\(([0-9]+)[^+]\//i, "$1"))).toLocaleDateString("en-US") + "</option>");
                    });
                });
            });
        });

</script>

