@model ScopoHR.Core.ViewModels.ReportFilteringViewModel
@{
    ViewBag.Title = "PromotionReport";
}


<div class="col-sm-12">
    <section class="box box-solid">
        <header class="box-header with-border">
            <h3 class="box-title">Promotion Report</h3>
        </header>
        <div class="box-body">
            <div class="form-horizontal">

                @using (Html.BeginForm("GetPromotionReport", "Report", FormMethod.Post, new { target = "_blank" }))
                {
                    <div class="form-group">
                        <label class="col-sm-1">From Date</label>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control default-datepicker required", @required = true, autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.FromDate)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1">To Date</label>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control default-datepicker required", @required = true, autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.ToDate)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1">Floor</label>
                        <div class="col-sm-2">
                            @Html.DropDownListFor(model => model.Floor, ViewBag.floorList as SelectList, "Select Floor", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductionFloorLineID)
                        </div>
                        <div class="col-sm-1">
                            <input type="submit" formtarget="_blank" class="btn btn-block btn-success" value="Get Report" />
                        </div>
                    </div>
                }
            </div>
        </div>

    </section>
</div>
