@model ScopoHR.Core.ViewModels.ReportFilteringViewModel
@{
    ViewBag.Title = "SalarySheetReport";
}

<div class="col-sm-12">
    <section class="box box-solid">
        <header class="box-header with-border">
            <h3 class="box-title">Salary Sheet Report</h3>
        </header>
        <div class="box-body">
            <div class="form-horizontal">

                @using (Html.BeginForm("GetSalarySheetReport", "Report", FormMethod.Post, new { target = "_blank" }))
                {
                    <div class="form-group">
                        @*<label class="col-sm-2">From Date</label>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control default-datepicker required" })
                                @Html.ValidationMessageFor(model => model.FromDate)
                            </div>
                            <label class="col-sm-2">To Date</label>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control default-datepicker required" })
                                @Html.ValidationMessageFor(model => model.ToDate)
                            </div>*@
                        <label class="col-sm-1">Year</label>
                        <div class="col-sm-2">
                            @Html.DropDownListFor(model => model.Year, ViewBag.yearList as SelectList, "Select Year", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.Year)
                        </div>
                        <label class="col-sm-1">Month</label>
                        <div class="col-sm-2">
                            @Html.DropDownListFor(model => model.Month, ViewBag.MonthList as SelectList, "Select Month", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.Month)
                        </div>
                        <label class="col-sm-1">Department</label>
                        <div class="col-sm-2">
                            @Html.DropDownListFor(model => model.DepartmentID, ViewBag.DepartmentList as SelectList, "Select Department", new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.DepartmentID)
                        </div>
                        <label class="col-sm-1">Shift</label>
                        <div class="col-sm-2">
                            @Html.DropDownListFor(model => model.ShiftId, ViewBag.shiftList as SelectList, "Select Shift", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.ShiftId)
                        </div>
                       
                    </div>
                       <div class="form-group">
                           <label class="col-sm-1">Floor</label>
                           <div class="col-sm-2">
                               @Html.DropDownListFor(model => model.Floor, ViewBag.floorList as SelectList, "Select Floor", new { @class = "form-control", required = "required" })
                               @Html.ValidationMessageFor(model => model.ProductionFloorLineID)
                           </div>

                           <label class="col-sm-1">Is Active</label>
                           <div class="col-sm-2">
                               @Html.DropDownListFor(model => model.IsActive, ViewBag.IsActive as SelectList, "Select", new { @class = "form-control", required = "required" })
                               @Html.ValidationMessageFor(model => model.IsActive)
                           </div>
                           <div class="col-sm-2 pull-right">
                               <input type="submit" formtarget="_blank" class="btn btn-block btn-success" value="Get Report" />
                           </div>
                       </div>
                    
                    
                }
            </div>
        </div>

    </section>
</div>

